# DB 접속 정보
DB_USER=
DB_PASSWORD=
DB_HOST=db # docker-compose.yml에서 db로 설정한 서비스 이름
DB_PORT=5432
DB_NAME=OAAS_DB

**`.env.example` 수정**
```
# Mac 사용자는 REPORT_FONT_PATH를 다음과 같이 설정 (주석을 제거하고 사용)
REPORT_FONT_PATH=~/Library/Fonts/malgun.ttf
# Windows 사용자는 REPORT_FONT_PATH를 다음과 같이 설정 (주석을 제거하고 사용)
# REPORT_FONT_PATH=C:/Windows/Fonts/malgun.ttf