DB_USER=
DB_PASSWORD=
DB_HOST=
DB_PORT=
DB_NAME=

JWT_SECRET_KEY=
ACCESS_TOKEN_EXPIRE_MINUTES=

# Mac 사용자는 REPORT_FONT_PATH를 다음과 같이 설정 (주석을 제거하고 사용)
REPORT_FONT_PATH=~/Library/Fonts/malgun.ttf
# Windows 사용자는 REPORT_FONT_PATH를 다음과 같이 설정 (주석을 제거하고 사용)
# REPORT_FONT_PATH=C:/Windows/Fonts/malgun.ttf

TEST_ADMIN_DB_URL=
TEST_DB_URL=

ALLOWED_ORIGINS=

RESEND_API_KEY=